* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  background-image: url(/img/sky.jpg);
  background-size: cover;
}

.sky-light::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  transition: 0.3s;
}

.sky-light.on::before {
  background-color: transparent;
}

.sky-light {
  margin-top: 5rem;
}

.text-on,
.text-off {
  color: white;
  margin-top: 0rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  display: none;
}

.sky-light.off .text-off {
  display: block;
}

.sky-light.on .text-on {
  display: block;
}

.lamp {
  margin-top: 50px;
  max-width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}

.btns button {
  font-size: 25px;
  font-weight: bold;
  margin: 50px 10px;
  padding: 25px 30px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}

.btns .active,
.btns .active:hover {
  background-color: white;
  color: black;
}

.btns button:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
}

@media (max-width: 560px) {
  .lamp {
    width: 250px;
  }
  h1 {
    font-size: 25px;
  }
  .btns button {
    font-size: 16px;
    padding: 15px 20px;
  }
}
